/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3A2620;
    /* dark brown */
    --secondary-color: #AA9581;
    /* light brown */
    --highlight-color: #416A8E;
    /* dark blue */
    --highlight-color-light: #7A9FC2;
    /* light blue */

}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}


.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.highlight {
    min-width: fit-content;
    background-color: var(--highlight-color);
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 0.75rem;
}

/*Button Styles */
.custom-btn-filled,
.custom-btn-outline:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-btn-filled:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.custom-btn-outline {
    max-width: fit-content;
    border: 2px solid var(--highlight-color);
    background-color: transparent;
    color: var(--highlight-color);
    padding: 7px 25px;
}

/* Navbar Styles */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header Styles */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services Section Styles */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/*Game Library Cards  */
#new-games .card,
#fav-games .card {
    border: none;
}

/* Footer Styles */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

/* The asterisk (*) selector makes the background of all elements inside the dark table transparent */
#contact .table-dark * {
    background-color: transparent;
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

    #events th,
    #events td {
        font-size: 12px;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

    /* Ensure all cards in services section have the same height */
    #services .card-body {
        min-height: 191px;
    }

    #reserve-form form {
        width: 65%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Ensure all cards in services section have the same height */
    #services .card-body {
        min-height: auto;
    }

    .highlight {
        font-size: 0.85rem;
        min-width: fit-content;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Ensure all cards in services section have the same height */
    #services .card-body {
        min-height: 220px;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    /* Ensure all cards in services section have the same height */
    #services .card-body {
        min-height: 195px;
    }
}